<div class="index-page">

    <div class="description">
        <p>This is a simple MEN (MongoDB, Express and Node) application for logging in and logging out a user from a Dashboard.</p>
        <p>The application users passport local strategy for authentication and ejs as the templating engine.</p>
        <p>
            The author created this application to teach his students how to host a Nodejs application on Heroku
             from scratch with environment variables involved.
        </p>
    </div>

</div>