
<form autocomplete="off" action="/users/register" method="post">
    <div>
        <label for="username">Username: </label><br>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="email">Email: </label><br>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <label for="pwd">Password: </label><br>
        <input type="password" name="pwd" id="pwd" required>
    </div>
    <div>
        <label for="pwdConf">Confirm Password: </label><br>
        <input type="password" name="pwdConf" id="pwdConf" required>
    </div>
    <div>
        <button>Register</button>
    </div>
</form>